@charset "UTF-8";
/* Tipografía */
/* Parrafos */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Se establece 1rem como 10px*/
html {
  font-size: 62.5%;
}

body {
  background-image: url("../assets/img/index/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background: #2b2d42;
  color: #edf2f4;
  width: 100%;
  height: 100vh;
  font-size: 100%;
  font-family: "Courier Prime", monospace;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  /* opcional Background */
}
body::-webkit-scrollbar {
  display: none;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  outline: none;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: #292c35;
  color: #fff;
}

::selection {
  background-color: #2b2d42;
  color: #fff;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  hyphens: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  display: block;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 1.6rem;
}

.button {
  padding: 0.8em 1.7em;
  width: 100px;
  text-align: center;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: #3deb2b;
  z-index: 1;
}
.button.long {
  width: 300px;
}
.button::before {
  top: -1em;
  left: -1em;
}
.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
.button:hover {
  color: rgb(10, 25, 30);
}
.button:active {
  filter: brightness(0.8);
}

.button::before, .button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #3deb2b;
  transition: 1s ease;
}

.button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 0 20px;
}
.header nav {
  width: 60%;
}
.header nav ul {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1.4rem;
}
.header__bxlogo {
  width: 40px;
  margin: 0 16px;
}

.particle-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.media {
  position: fixed;
  bottom: 0;
  left: 80px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.2rem;
  gap: 16px;
  color: #edf2f4;
}
.media li .fa-brands {
  color: #74767b;
}
.media li .fa-brands:hover {
  background-image: -webkit-linear-gradient(0deg, #3deb2b 4%, #9dfa25 61%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.media .line {
  width: 2px;
  background: rgb(61, 235, 43);
  background: linear-gradient(183deg, rgb(61, 235, 43) 0%, rgb(157, 250, 37) 100%);
  height: 250px;
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.main .info {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  height: auto;
}
.main .info h1 {
  font-size: 8rem;
  font-family: "Prompt", sans-serif;
  line-height: 8.6rem;
  margin: 8px auto;
}
.main .info h1 strong {
  color: #3deb2b;
  /** TEXT GRADIENT */
  background-image: -webkit-linear-gradient(0deg, #3deb2b 4%, #9dfa25 61%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.main .info h2 {
  color: #74767b;
}
.main .info h3 {
  width: 50ch;
  margin: auto;
  font-size: 3rem;
  font-weight: 400;
}
.main .info h3 strong {
  color: #3deb2b;
}
.main .info__buttons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  width: 800px;
  margin: 16px auto;
}

.about {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0 80px;
}
.about .bx-modelviwer {
  display: flex;
  align-items: center;
  width: 30%;
}
.about .bx-modelviwer model-viewer {
  z-index: 300;
  width: 100%;
  height: 400px;
}
.about .bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.about .bio h2 {
  /** TEXT GRADIENT */
  background-image: -webkit-linear-gradient(0deg, #3deb2b 4%, #9dfa25 61%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}
.about .bio p {
  width: 60ch;
}

.skills {
  display: flex;
  width: 100%;
  height: 100vh;
}
.skills__aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100vh;
}
.skills__aside h1 {
  font-size: 6.4rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.skills__skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.skills__skills .bxskill {
  display: flex;
  align-items: center;
  padding: 9px;
  justify-content: space-around;
  gap: 16px;
  font-size: 4rem;
  margin-bottom: 60px;
  border: 1px solid #3deb2b;
}
.skills__skills .bxskill i {
  margin: 20px auto;
}
.skills__skills .bxskill figure {
  position: relative;
  z-index: 100;
  width: 7rem;
}
.skills__skills .bxskill figure:hover {
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.skills__skills h2 {
  text-align: center;
  font-size: 3rem;
  color: #3deb2b;
}

.jobs {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.jobs .jobs-bx {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
  margin: 100px 200px 0 120px;
}
.jobs .jobs-bx h2 {
  text-align: end;
  font-size: 6rem;
  width: 100%;
}
.jobs .jobs-bx .card {
  display: flex;
  width: 360px;
  justify-content: space-between;
  flex-direction: column;
  padding: 6px 11px;
  border: 1px solid #3deb2b;
}
.jobs .jobs-bx .card h2 {
  font-size: 2rem;
  color: #3deb2b;
  margin: 6px 0;
}
.jobs .jobs-bx .card__buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 6px 0;
}
.jobs .jobs-bx .card__buttons i {
  font-size: 2rem;
  margin: 0 10px;
  color: #3deb2b;
}
.jobs .jobs-bx .card__buttons a {
  font-size: 2rem;
  margin: 0 10px;
  color: #3deb2b;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.jobs .jobs-bx:nth-child(2) {
  justify-content: flex-start;
  margin: 0 120px 0 300px;
}
.jobs .jobs-bx:nth-child(2) h2 {
  text-align: start;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 0;
  z-index: 1000;
  position: relative;
  background: #2b2d42;
}
.footer__media {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 40px auto;
}
.footer__media .line {
  width: 300px;
  border-bottom: 1px inset #3deb2b;
}
.footer__bxlogo {
  margin: 40px auto;
  width: 100px;
}
.footer h3 {
  font-size: 4rem;
  text-align: center;
}
.footer h4 {
  text-align: center;
}
.footer ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 20px auto;
  text-align: center;
  font-family: "Prompt", sans-serif;
  text-align: center;
}
.footer ul li:hover {
  border-bottom: 2px solid #3deb2b;
}

@media only screen and (max-width: 460px) {
  .header {
    position: relative;
    flex-direction: column;
  }
  .header nav {
    width: 90%;
  }
  .header nav ul {
    text-align: center;
    flex-wrap: wrap;
    margin: 16px auto;
  }
  .header nav ul li {
    margin: 8px auto;
  }
  .header nav ul li:last-child {
    margin: 12px auto;
    width: 100%;
  }
  .header nav ul li:last-child a {
    margin: auto;
    padding: 6px;
  }
  .header__bxlogo {
    margin: 12px auto 0 auto;
  }
  .main .info {
    margin-top: 30%;
  }
  .main .info__buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .main .info h3 {
    width: 90%;
    margin: auto;
  }
  .about {
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }
  .about .bio {
    width: 100%;
  }
  .about .bio p {
    width: 90%;
    margin: auto;
  }
  .about .bx-modelviwer {
    display: none;
  }
  .skills {
    flex-direction: column;
    justify-content: center;
    margin-top: 50%;
  }
  .skills__aside {
    height: auto;
    width: auto;
  }
  .skills__aside h1 {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
  }
  .skills__skills {
    margin: 0 auto;
    width: 86%;
  }
  .jobs .jobs-bx {
    justify-content: center;
    margin: 0;
  }
  .jobs .jobs-bx h2 {
    text-align: center;
  }
  .jobs .jobs-bx:nth-child(2) {
    justify-content: center;
    margin: 0;
  }
  .jobs .jobs-bx:nth-child(2) h2 {
    text-align: center;
  }
  .footer__media .line {
    width: 156px;
  }
  .media {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
